html,
body {
	color: white;
	background: black;
	height: 100%;
	width: 100%;
}

::-moz-selection {
	color: black;
	background-color: $beige;
}

::selection {
	color: black;
	background-color: $beige;
}

// HEADER TITLE

header {
	width: 100%;
	@include flex-column;
	align-items: center;
	justify-content: center;
	height: 30vh;
}

h1,
h2 {
	font-family: "kanit";
	font-size: 8vw;
	text-transform: uppercase;
}

h2 {
	font-weight: 700;
	opacity: 0;
	animation: uptoheader 1s 1.8s forwards;
}

h1 {
	font-weight: 600;
	line-height: 30px;
	color: transparent;
	-webkit-text-stroke: 4px white;
	opacity: 0;
	animation: uptoheader 1s 2.5s forwards;
}

// COLLECTION IMAGES
.collection {
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	@include flex;
	justify-content: center;
}

.collection-img {
	height: 55vh;
	width: calc(100% / 3);
	cursor: pointer;
	transition: ease 0.5s;

	&:first-child {
		animation: upto 3.5s ease;
		content: "";
		background-image: url(/assets/images/1.jpeg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
	}

	&:nth-child(2) {
		animation: upto 2.5s ease;
		content: "";
		background-image: url(/assets/images/2.jpeg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
	}

	&:last-child {
		animation: upto 3s ease;
		content: "";
		background-image: url(/assets/images/3.jpeg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
	}
}

.collection-img:hover {
	opacity: 0.7;
	transition: ease 0.5s;
}

//ANIMATIONS

@keyframes uptoheader {
	0% {
		transform: translateY(60%);
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes upto {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

// Tablets & mobile display
@media screen and (max-width: 980px) {
	header {
		height: max-content;
		position: relative;
		top: 10vh;
	}

	h1 {
		-webkit-text-stroke: 2px white;
	}

	.collection {
		flex-direction: column;
		height: 60vh;
		justify-content: center;
	}

	.collection-img {
		height: 100%;
		width: 100%;
		z-index: 1;

		&:first-child {
			animation: fromleft 3.5s ease;
		}

		&:nth-child(2) {
			animation: fromright 2.5s ease;
		}

		&:last-child {
			animation: fromleft 3s ease;
		}
	}
}

@keyframes fromleft {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes fromright {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateY(0);
	}
}
