html,
body {
	color: white;
	background: black;
	height: 100%;
	width: 100%;
}

// HEADER TITLE

header {
	width: 100%;
	@include flex-column;
	align-items: center;
}

h1,
h2 {
	font-family: "kanit";
	font-size: 8vw;
	text-transform: uppercase;
}

h2 {
	font-weight: 700;
	opacity: 0;
	animation: header 1.5s 1.8s ease-out forwards;
}

h1 {
	font-weight: 600;
	line-height: 30px;
	color: transparent;
	-webkit-text-stroke: 4px white;
	opacity: 0;
	animation: header 1.5s 2.5s ease-out forwards;
}

// COLLECTION IMAGES
.collection {
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	@include flex;
	justify-content: center;
}

.collection-img {
	height: 60vh;
	width: calc(100% / 3);

	&:first-child {
		animation: upto 3.5s ease;
		content: "";
		background-image: url(/assets/images/1.jpeg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&:nth-child(2) {
		animation: upto 2.5s ease;
		content: "";
		background-image: url(/assets/images/2.jpeg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&:last-child {
		animation: upto 3s ease;
		content: "";
		background-image: url(/assets/images/3.jpeg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.collection-img:hover {
	opacity: 0.7;
}

//ANIMATIONS

@keyframes header {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes upto {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
