*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:active {
  color: inherit;
}

html,
body {
  color: white;
  background: black;
  height: 100%;
  width: 100%;
}

::-moz-selection {
  color: black;
  background-color: rgb(222, 203, 160);
}

::selection {
  color: black;
  background-color: rgb(222, 203, 160);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

h1,
h2 {
  font-family: "kanit";
  font-size: 8vw;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  opacity: 0;
  animation: uptoheader 1s 1.8s forwards;
}

h1 {
  font-weight: 600;
  line-height: 30px;
  color: transparent;
  -webkit-text-stroke: 4px white;
  opacity: 0;
  animation: uptoheader 1s 2.5s forwards;
}

.collection {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.collection-img {
  height: 55vh;
  width: 33.3333333333%;
  cursor: pointer;
  transition: ease 0.5s;
}
.collection-img:first-child {
  animation: upto 3.5s ease;
  content: "";
  background-image: url(/assets/images/1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.collection-img:nth-child(2) {
  animation: upto 2.5s ease;
  content: "";
  background-image: url(/assets/images/2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.collection-img:last-child {
  animation: upto 3s ease;
  content: "";
  background-image: url(/assets/images/3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.collection-img:hover {
  opacity: 0.7;
  transition: ease 0.5s;
}

@keyframes uptoheader {
  0% {
    transform: translateY(60%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes upto {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 980px) {
  header {
    height: -moz-max-content;
    height: max-content;
    position: relative;
    top: 10vh;
  }
  .collection {
    flex-direction: column;
    height: 60vh;
    justify-content: center;
  }
  .collection-img {
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .collection-img:first-child {
    animation: fromleft 3.5s ease;
  }
  .collection-img:nth-child(2) {
    animation: fromright 2.5s ease;
  }
  .collection-img:last-child {
    animation: fromleft 3s ease;
  }
}
@keyframes fromleft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fromright {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.toggle {
  display: none;
}

.logo {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(50% - 100px);
  text-transform: uppercase;
  animation: nav 2.5s ease;
}
.logo span {
  font-family: "DM Serif Display", serif;
  width: 100%;
  text-align: center;
}
.logo span:first-child {
  font-size: 2.2em;
  margin-bottom: -10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  height: 80px;
  animation: nav 2.5s ease;
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 400px;
  font-weight: 200;
}
.menu ul li {
  cursor: pointer;
  transition: ease 0.5s;
}
.menu ul li:hover {
  color: rgb(222, 203, 160);
  transition: ease 0.5s;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 150px;
}
.buttons svg {
  cursor: pointer;
  transition: ease 0.5s;
}
.buttons svg:hover {
  fill: rgb(222, 203, 160);
  transition: ease 0.5s;
}

@keyframes nav {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 980px) {
  .toggle {
    position: absolute;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 10;
  }
  .toggle svg {
    width: 30px;
    height: 30px;
  }
  .toggle .close {
    display: none;
  }
  nav {
    height: 100%;
    position: absolute;
    z-index: 2;
    animation: none;
    flex-direction: column-reverse;
    justify-content: center;
    background: black;
    transform: translateX(100%);
    transition: all ease 1s;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50vh;
    font-weight: 600;
    font-size: 1.5em;
  }
  .logo {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
    z-index: 3;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 150px;
  }
  .open_menu .burger {
    display: none;
  }
  .open_menu .close {
    display: block;
  }
  .open_menu nav {
    transform: translateX(0);
    transition: all ease 1s;
  }
}/*# sourceMappingURL=style.css.map */